.App-container {
  background-image: url("./media/wallpap.png");

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.my-body {
  /* background-image: url('../images/praxisbackground2.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
}

#loginResult {
  font-size: 15px;
  color: darkred;
}

.my-container {
  border: 15px solid #baa1a7;
  width: 10px;
  background-color: #baa1a7;
  border-radius: 27px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dash-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
}

.dashBox {
  background-color: #baa1a7;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom-right-radius: 27px;
  border-bottom-left-radius: 27px;
  border: 3px solid black;
  overflow: hidden;
  font-family: 'Bungee'
 
}

#habitBox {
  width: 98.5%;
}

#progressBox {
  width: 100%;
  height: 15.7vh;
  margin-bottom: 5vh
}

.modal-content {
  border-radius: 27px !important;
  border: 3px solid black !important;
}
#motiBox {
  width: 100%;
}

#calBox {
  margin-top: 5vh;
  width: 95.5%;
  margin-left: 2%;
}

.my-row {
  height: 7.4vh;
  max-width: 55.55vh;
  background-color: #baa1a7;
}

.my-row2 {
  height: 45px;
  max-width: 600px;
}

.my-row3 {
  border-bottom: 3px solid #dbabbe;
}
.my-col {
  align-items: center;
  padding: 0px;
}

.my-col2 {
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;

  background-size: 100%, 100%;
  border-radius: 50%;

  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: black;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #797b84;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-top: 43px;
  font-size: 20px;
  font-family: "Bungee", sans-serif;
  border-right: 3px solid #dbabbe;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#navOption1,
#navOption2,
#navOption3,
#navOption4,
#lOut,
#flatNav {
  cursor: pointer;
}

#navOption1:hover,
#navOption2:hover,
#navOption3:hover,
#navOption4:hover,
#lOut:hover,
#flatNav:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn:hover {
  color: white;
  cursor: pointer;
}
