body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.carousel-status, .control-dots, .thumbs-wrapper, .axis-vertical {
  display: none !important;
}

.modal-content {
  background-color: transparent !important;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color:white;
  backdrop-filter: blur(10px) !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-radius: 5px;

}

.MuiAppBar-root {
  padding-right: 0px !important;
}